<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>progetto</display-name>
  <!-- faccio la mappatura xml della componente Java-->
	<servlet>
		<servlet-name>musica</servlet-name>
		<servlet-class>com.gft.servlet.MusicServlet</servlet-class>		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>musica</servlet-name>
		<url-pattern>/musica</url-pattern>
	</servlet-mapping>
  
</web-app>